@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ecf0f1;
}

.app-container {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-header {
    background: #ff007f;
    color: #fff;
    padding: 10px 20px;
    text-align: center;

    h1 {
        margin: 0;
    }
}


.app-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background: #fff;
        color: #ff007f;
    }
}

.app-main {
    padding: 20px;
}

.trip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trip-content {
    display: flex;
    width: 100%;
}

.trip-destination {
    font-size: 0.8em;
    text-transform: uppercase;
    display: block;
}

.trip-image-container {
    flex-basis: 50%;
    width: 200px; // Exemplo de largura fixa
    height: 200px; // Exemplo de altura fixa
    overflow: hidden; // Impede que a imagem ultrapasse o contêiner
    display: flex; // Garante que o contêiner da imagem use flex
    justify-content: center; // Centraliza a imagem horizontalmente
    align-items: center; // Centraliza a imagem verticalmente
    margin: 10px; // Mantém a margem original
}

.trip-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Faz com que a imagem cubra o contêiner sem distorção
    border-radius: 4px; // Mantém o raio da borda se necessário
}

.trip-info-container {
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;

    h3 {
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.2em;
        color: #333;
    }
}

.trip-destination {
    margin: 0;
}

.trip-name {
    font-weight: 700;
}

.trip-start,
.trip-end,
.trip-duration,
.trip-min-temp,
.trip-max-temp {
    display: flex;
    flex-direction: row;
}

.trip-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;

    p {
        margin: 0;
    }

    .trip-date-start, .trip-date-end, .trip-duration-day, .trip-temp {
        margin-left: 10px;
        font-weight: 400;
    }
}

.trip-button {
    background: #ff007f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin: 10px;
    width: calc(100% - 20px);

    &:hover {
        opacity: 0.8;
    }
}

.trip-info h2 {
    color: #808080;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"], input[type="date"] {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #bdc3c7;
        border-radius: 4px;
    }
}

#destination {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

.submit-button {
    background: #ff007f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.error-message {
    color: #ff007f;
    font-size: 0.8em;
    margin-top: 5px;
    
}

@media (max-width: 600px) {
    .app-container {
        margin: 0;
    }
    .trip-content {
        flex-direction: column;
    }

    .trip-image-container {
        width: 100%; // Ajusta para preencher o card, considerando as margens
        height: auto; // Altura se ajusta proporcionalmente
        margin: 0 auto; // Centraliza o contêiner no card
        flex-basis: auto; // Remove a base flex fixa anterior
    }

    .trip-image {
        width: 100%; // A imagem preenche a largura do contêiner
        height: auto; // A altura se ajusta para manter a proporção da imagem
        margin: 0; // Remove a margem especificada anteriormente
        border-radius: 4px 4px 0 0; // Ajusta o raio da borda para imagens em tela cheia
    }

    .trip-info-container {
        margin-left: 0; // Remove a margem esquerda quando em coluna
    }
}